<div class="row">
  <div class="col-lg-9">
    <h1 style="font-size:30px; color:#222">Help</h1>
    <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
      <div class="col-md-9" style="padding-left:0px">

        <h2>Using ArchivesSpace</h2>
        <div class="panel">
          <div class="panel-heading" id="heading1" role="tab">
            <h3 class="panel-title"><a aria-controls="example1" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example1" role="button">How do I search
                ArchivesSpace? <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading1" class="panel-collapse collapse" id="example1" role="tabpanel">
            <div class="panel-body services">
              <p>Enter search terms into the <em>Search the Archives</em> box. You may limit the search by searchable
                fields and date.</p>
              <p>When entering search terms, string together search words in quotation marks for a more targeted search.
                For example: searching "labor union" will pull up results that include the specific phrase "labor
                union", while searching the same phrase without quotations might pull results that include "labor" or
                "union" separately.</p>

              <p>Use ? and * as wildcards to refine your results:</p>
              <ul>
                <li>Use ? to replace a single letter in a search term (e.g., U?W will return UAW and UFW).</li>
                <li>Use * to replace any number of letters at the end of a search term (e.g., searching histor* will
                  return both history and histories).</li>
                <li>Wildcards may not be used as the first character of a word.</li>
                <li>To use a wildcard with another search term (e.g., oral histor*), use the + icon and enter the next
                  search term on an additional row.</li>
              </ul>

              <p>Searching by date is approximate and some results may fall outside of the timespan entered.</p>

              <p>To create a more complex search, select the + button to add more search parameters.</p>

              <p>Searchable fields include:</p>
              <ul>
                <li>Keyword: Searches the entire text of a collection record.</li>
                <li>Title: Searches the titles of materials, including collection, series, and file titles (e.g., NAACP
                  Detroit Branch Records).</li>
                <li>Creator: Searches the names of people, families, and organizations who created the collections
                  (e.g., Righteous Babe Records).</li>
                <li>Subject: Searches the subject headings assigned to collections by archivists and librarians (e.g.,
                  Public employees).</li>
                <li>Notes: Searches the collection record’s notes fields (e.g., Scope and Content, History, etc.).</li>
                <li>Identifier: Searches by accession number, a unique number by which each collection is identified and
                  tracked.</li>
              </ul>

            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" id="heading2" role="tab">
            <h3 class="panel-title"><a aria-controls="example2" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example2" role="button">How do I filter my search
                results? <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading2" class="panel-collapse collapse" id="example2" role="tabpanel">
            <div class="panel-body services">
              <p>After searching, you are taken to a search results page which includes a "Filter Results" pane on the
                left side. Use this to further refine your search results by searching within your results, or limit by
                date. Select the search button to rerun your search.</p>
              <p>Use the “Additional filters” to further limit your search by name, subject, etc. To start over and run
                a new search, select the magnifying box in the top navigation bar.</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" id="heading3" role="tab">
            <h3 class="panel-title"><a aria-controls="example3" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example3" role="button">How do I browse the site?
                <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading3" class="panel-collapse collapse" id="example3" role="tabpanel">
            <div class="panel-body services">
              Use the links on the top navigation bar:
              <ul>
                <li>Home: ArchivesSpace homepage</li>
                <li>Repositories: Access both repositories (Reuther and WSU Special Collections) seperately.</li>
                <li>Collections: Alphabetical list of all collections</li>
                <li>Subjects: Alphabetical list of all subjects</li>
                <li>Names: Alphabetical list of all names</li>
                <li>Help: Help page</li>
                <li>Magnifying Glass: Search page</li>
              </ul>
              <p>Results on Collections, Subjects and Names pages may be further filtered using the Filter Results and
                Additional filters in the left navigation pane.</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" id="heading4" role="tab">
            <h3 class="panel-title"><a aria-controls="example4" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example4" role="button">What materials are
                included in ArchivesSpace? <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading4" class="panel-collapse collapse" id="example4" role="tabpanel">
            <div class="panel-body services">
              <p>ArchivesSpace contains finding aids from two repositories: Walter P. Reuther Library Collections
                (papers, records, and oral histories), and Wayne State University Library System Special Collections.
              </p>
              <p><a href="http://reuther.wayne.edu">Learn more about the Reuther</a></p>
              <p><a href="https://library.wayne.edu/resources/special-collections/">Learn more about WSULS Special
                  Collections</a></p>
            </div>
          </div>
        </div>
        <h2>Requesting and Viewing Materials</h2>

        <div class="panel">
          <div class="panel-heading" id="heading5" role="tab">
            <h3 class="panel-title"><a aria-controls="example5" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example5" role="button">Are any materials
                available online? <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading5" class="panel-collapse collapse" id="example5" role="tabpanel">
            <div class="panel-body services">
              <p>Our repositories are open to anyone engaged in research. To view materials from Reuther, please <a
                  href="mailto:reutherreference@wayne.edu">email the Reference Archivist</a>. To view materials from
                Special Collections, please <a href="mailto:spec.collection@wayne.edu">email
                  spec.collection@wayne.edu</a>.</p>
            </div>
          </div>
        </div>



        <div class="panel">
          <div class="panel-heading" id="heading6" role="tab">
            <h3 class="panel-title"><a aria-controls="example6" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example6" role="button">How do I request
                materials from a collection? <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading6" class="panel-collapse collapse" id="example6" role="tabpanel">
            <div class="panel-body services">
              <p>Our repositories are open to anyone engaged in research. To view materials from Reuther, please <a
                  href="mailto:reutherreference@wayne.edu">email the Reference Archivist</a>. To view materials from
                Special Collections, please <a href="mailto:spec.collection@wayne.edu">email
                  spec.collection@wayne.edu</a>.</p>
            </div>
          </div>
        </div>

        <h2>Conducting Archival Research</h2>

        <div class="panel">
          <div class="panel-heading" id="heading7" role="tab">
            <h3 class="panel-title"><a aria-controls="example7" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example7" role="button">What is a finding aid?
                <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading7" class="panel-collapse collapse" id="example7" role="tabpanel">
            <div class="panel-body services">
              <p>Finding aids are descriptions of archival collections that help researchers identify materials relevant
                to their topic.</p>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" id="heading8" role="tab">
            <h3 class="panel-title"><a aria-controls="example8" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example8" role="button">What is a primary source?
                <span class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading8" class="panel-collapse collapse" id="example8" role="tabpanel">
            <div class="panel-body services">
              <p>Archives contain primary sources. Primary sources are documents, artifacts, or data created during the
                specific time period being studied. Oftentimes, documents from the first publication cycle – newspaper
                articles, letters, or research notes – are considered primary sources. </p>
              <p><a href="https://guides.lib.wayne.edu/PrimarySources">Learn more about finding and using primary
                  sources</>
            </div>
          </div>
        </div>


        <div class="panel">
          <div class="panel-heading" id="heading9" role="tab">
            <h3 class="panel-title"><a aria-controls="example9" aria-expanded="false" class="collapsed"
                data-parent="#accordion" data-toggle="collapse" href="#example9" role="button">Glossary of terms <span
                  class="glyphicon glyphicon-menu-down"></span></a></h3>
          </div>
          <div aria-labelledby="heading9" class="panel-collapse collapse" id="example9" role="tabpanel">
            <div class="panel-body services">

              <h4>Box List</h4>

              <p>A list of boxes in the collection. Mostly useful if you know what box number the material you want to
                research is in.</p>

              <h4>Collection</h4>

              <p>Archival material formed by or around a person, family group, corporate body, or subject. </p>

              <h4>Extent</h4>

              <p>A description of the physical amount of material described. </p>

              <h4>Item</h4>

              <p>An individual unit within a collection that occasionally refers to a single object. </p>

              <h4>Repository</h4>

              <p>A place where materials are stored and maintained. Any type of organization that holds documents in any
                form, including manuscripts, photographs, audiovisual material, and electronic records. </p>

              <h4>Series</h4>

              <p>A group of similar records in a collection arranged according to a filing system that are related as
                the result of being created, received, or used in the same activity. </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>